<div class="no-overflow">
    <section class="container main-section">
        <div class="row">

            <div class="col-sm-6 col-md-3 col-lg-3">
                <a href="/places/details/lisbon">
                    <div class="card home-card pic1" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-text">Portugal</h4>
                            <p class="card-title">Lisbon</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <a href="/places/details/Gran%20Canaria">
                    <div class="card home-card pic2" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-text">Canary Islands</h4>
                            <p class="card-title">Gran Canaria</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <a href="/places/details/Buenos%20Aires">
                    <div class="card home-card pic3" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-text">Argentina</h4>
                            <p class="card-title">Buenos Aires</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <a href="/places/details/Canggu">
                    <div class="card home-card pic4" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-text">Bali</h4>
                            <p class="card-title">Canggu</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <a href="/places/details/Chiang%20Mai">
                    <div class="card home-card pic5" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-text">Thailand</h4>
                            <p class="card-title">Chiang Mai</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <a href="/places/details/Madeira">
                    <div class="card home-card pic6" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-text">Portugal</h4>
                            <p class="card-title">Madeira</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <a href="/places/details/Porto">
                    <div class="card  home-card pic7" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-text">Portugal</h4>
                            <p class="card-title">Porto</p>
                        </div>
                    </div>
                </a>
            </div> 

            <div class="col-sm-6 col-md-3 col-lg-3">
                <a href="/places/details/Mexico%20City">
                    <div class="card  home-card pic8" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-text">Mexico</h4>
                            <p class="card-title">Mexico City</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <a href="/places/details/Bangkok">
                    <div class="card home-card pic9" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-text">Thailand</h4>
                            <p class="card-title">Bangkok</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <a href="/places/details/Ho%20Chi%20Minh%20City">
                    <div class="card home-card pic10" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-text">Vietnam</h4>
                            <p class="card-title">Ho Chi Minh City</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <a href="/places/details/Tenerife">
                    <div class="card home-card pic11" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-text">Spain</h4>
                            <p class="card-title">Tenerife</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <a href="/places/details/Medellin">
                    <div class="card home-card pic12" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-text">Colombia</h4>
                            <p class="card-title">Medellín</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <a href="/places/details/Ubud">
                    <div class="card home-card pic13" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-text">Indonesia</h4>
                            <p class="card-title">Ubud</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <a href="/places/details/Istanbul">
                    <div class="card home-card pic14" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-text">Turkey</h4>
                            <p class="card-title">Istanbul</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <a href="/places/details/Goa">
                    <div class="card home-card pic15" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-text">India</h4>
                            <p class="card-title">Goa</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <a href="/places/details/Tulum">
                    <div class="card home-card pic16" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-text">Mexico</h4>
                            <p class="card-title">Tulum</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </section>

    <section class="destinations-hero">
        <h1 class="hero-title">Become a Nomad</h1>
        <a href="/profile/create" class="main-btn">Sign up</a>
    </section>

    <section class="mission-hero">
        <h1 class="hero-title">Our Mission</h1>
        <a href="/about-us" class="main-btn">Our Mission</a>
    </section>

    <section class="contact-hero">
        <h1 class="hero-title">A community of Nomads</h1>
        <a href="/contact" class="main-btn">Contact us</a>
    </section>
</div>