<div class="general-form">
    <div class="container">
        <h1 class="mb-5 create-main-title">LISTA DE USUARIOS PREMIUM:</h1>
        {{#each users}}
        <p>Username:{{username}}</p>
        <p>Email: {{email}}</p>
        <hr>
        {{/each}}
    </div>
</div>