<div class="general-form">
    <div class="container">
        <h1><b>Email sent <span class="tick">✓</span></b></h1>

        <h2><b>Email:</b></h2>
        <p class="answer">{{email}}</p>

        <h2><b>Subject:</b></h2>
        <p class="answer">{{subject}}</p>


        <h2><b>Message:</b></h2>
        <p class="answer">{{message}}</p>
    </div>
</div>